---
"on":
  workflow_call:
    inputs:
      jobs_run_on:
        default: ubuntu-latest
        description: The runner group on which jobs will run.
        required: false
        type: string
      timeout_minutes:
        description: The maximum time (in minutes) for a job to run.
        default: 5
        required: false
        type: number
      working_directory:
        description: The working directory where all jobs should be executed.
        default: "."
        required: false
        type: string

jobs:
  pre-commit:
    defaults:
      run:
        working-directory: ${{ inputs.working_directory }}
    permissions:
      contents: read
      pull-requests: read
    runs-on: ${{ inputs.jobs_run_on }}
    steps:
      - name: "Checkout repo"
        uses: "actions/checkout@v6"
      - name: "Run pre-commit"
        uses: "pre-commit/action@v3.0.1"
    timeout-minutes: ${{ inputs.timeout_minutes }}
