---
name: Make CI

"on":
  workflow_call:
    inputs:
      additional_packages:
        default: ""
        description: String of additional packages that should be installed.
        required: false
        type: string
      timeout_minutes:
        description: The maximum time (in minutes) for a job to run.
        default: 10
        required: false
        type: number
      working_directory:
        default: "."
        description: >-
          The directory where pyproject.toml and Makefile exist, relative to the
          project root
        required: false
        type: string

jobs:
  make-ci:
    defaults:
      run:
        working-directory: ${{ inputs.working_directory }}
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest
    steps:
      - name: Install additional packages
        if: ${{ inputs.additional_packages != '' }}
        run: |
          sudo apt-get update -yq
          sudo apt-get install -y ${{ inputs.additional_packages }}
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "22.x"
      - name: Install prettier
        run: yarn add prettier@3
      - name: Put node executables in the system PATH
        run: echo -n "$(yarn bin)" >> $GITHUB_PATH
      - name: Install poetry
        run: pipx install poetry
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          cache: poetry
          python-version: "3.12"
      - name: Install package
        run: poetry install
      - name: Run all CI
        run: make ci
    timeout-minutes: ${{ inputs.timeout_minutes }}
